.nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #f9f9f9;
  padding: 20px 10px;
  width: 200px;        /* Default width */
  max-width: 20%;      /* Will shrink on smaller screens */
  min-width: 110px;    /* Minimum width for usability */
  border-right: 2px solid #ccc;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding-top: 100px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.05);
  transition: width 0.3s ease;
  z-index: 100;
  margin-top: 0px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.nav li {
  margin-top: 18px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 12px;
  transition: all 0.3s ease, transform 0.2s;
  font-size: 1rem;
}

.nav a .nav-icon {
  margin-right: 12px;
  font-size: 1.2rem;
}

.nav a:hover {
  color: white;
  background: linear-gradient(135deg, #00ad09, #007a05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  transform: translateX(3px);
}

.nav li.active a {
  color: white;
  background: linear-gradient(135deg, #00ad09, #007a05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.nav li.active a .nav-icon {
  transform: scale(1.2);
  transition: transform 0.3s;
}
