.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-layout {
  display: flex;
  width: 100%;
  justify-content: center;
}

app-navigation {
  width: 20%;
  min-width: 150px;
}

.content {
  width: 50%;
}

@media (max-width: 1024px) {
  .content {
    width: 80%;
  }
}
